

<div class="container-fluid"> 
  <div class="row">
      <div class="col-5 py-5 px-5 " >
       <h3 style="color: darkblue;font: size 22px;">
         What's New </h3>
        <h3 style="color: darkblue; font-size: 22px;"> on covin?
       </h3>
          </div>
          
          <div class="col-7 px-4 py-4">
            <div class="accordion accordion-flush " id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    You can download your Vacccination Certificate for International Traval
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">zdfxcv <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                   You can register as foreign national on covin and get vaccinated
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Citizan can link their passports to covin issue Certificate by rising
                  </button>
                </h2>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                      Citizan can link their passports to covin issue Certificate by rising
                    </button>
                  </h2>
                     <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                </div>
              </div>
            </div>
      </div>
        </div>














            <div class="container-fluid"> 
              <div class="row">
                  <div class="col-6 px-5 p-5 text-white" style="height: 500px;text-align:left;">
                    <img src="../../../assets/internationalcertificate.svg">
                      
                      </div>
                      
                      <div class="col-6 px-5 py-5">
                        <h1 style="font-weight: bold;">International Travel Certificate</h1><br><br>
                        <h3>Ready to travel the world? Complete your vaccination and get a certificate now.</h3><br>
                        <button type="button"  href="" class="btn btn-outline-primary rst">How To Download</button>
                        <button type="button"  href="" class="btn btn-outline-primary rst">Get Certificate</button>
                      </div>
                      </div>
                      </div>
                      </div>
                      
                      <app-rais-issue></app-rais-issue>