



.container-fluid{
    background-color: rgb(241, 239, 235);
  }
  
  
  
  
  
  
  
  
  
  /* register button */
  .rst{
      border: 1px
    blue;
      color: blue!important;
      padding: 5px 20px!important;
      text-decoration: none;
      border-radius: 30px
    ;
      font-weight: 500!important;
      /* line-height: 1.5!important; */
      /* text-align: center; */
      /* display: block;  */
      font-size: 16px;
      /* margin-right: 20px; */
    }