<div class="container-fluid ">
  <div class="row bg-dark">
    <div class="col-7">
      <ul class="nav">
        <li class="nav-item  ">
          <a class="nav-link  text-light" routerLink="home/landing">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink=" #">Administrator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="#">Vaccinater</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-light" routerLink="#">Verify Certificate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="#">Dashboard</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-light" routerLink="#">Open API's</a>
        </li>

      </ul>
    </div>
    <div class="col-5">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Skip To Main Content</a>
        </li>
        <li>
          <button type="button " class="btn btn-outline-info m-2 text-light ">A+</button>
        </li>
        <li>
          <button type="button" class="btn btn-outline-info m-2 text-light ">A</button>
        </li>
        <li>
          <button type="button" class="btn btn-outline-info m-2 text-light ">A-</button>
        </li>

        <select>
       <option *ngFor="let lg of lang">{{lg}}</option>

        </select>
      </ul>
    </div>
  </div>
</div>

<div>
  <app-menu-bar></app-menu-bar>

</div>