
<h1 style="text-align: center;color: rgb(17, 16, 17);">Get Vccinated in 3 Easy Steps</h1>
<!-- <h5>jnnhkjkj</h5>
<h5 style="text-align: center;">jghb</h5>
<h5 style="text-align: right;">kjnknjknhjn</h5> -->
<div class="card-group">
    <div class="card">
      <img src="../../../assets/vaccinated_img1.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/vaccinated_img2.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/vaccinated_img3.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        
      </div>
    </div>
  </div>


 <app-faq></app-faq>

