<!-- footer -->

<div class="container-fluide"> 
    <div class="row foot">
      <div class="col-3 py-3 px-5 text-white bg-secondary" style="font-size: 12px;">
        <p></p> 
        <a class="text-white" href="">Register Members</a><br>
        <a class="text-white" href="">Search Vaccination Center</a><br>
        <a class="text-white" href="">Book Vaccination Slots</a><br>
        <a class="text-white" href="">Manage Appointments</a><br>
        <a class="text-white" href="">Download Certificates</a>
      </div>
  
      <div class="col-2 py-3 px-5 text-white bg-secondary" style="font-size: 12px;">
        <p>Platforms</p> 
        <a class="text-white" href="">CoWIN International</a><br>
        <a class="text-white" href="">Vaccinator</a><br>
        <a class="text-white" href="">Department Login</a><br>
        <a class="text-white" href="">Verify Certificates</a><br>
        <a class="text-white" href="">Vaccination Statistics</a>
      </div>
  
      <div class="col-2 py-3 px-5 text-white bg-secondary" style="font-size: 12px;">
        <p>Resources</p> 
        <a class="text-white" href="">How To Get Vaccinated</a><br>
        <a class="text-white" href="">Dos and Don'ts</a><br>
        <a class="text-white" href="">Overview</a><br>
        <a class="text-white" href="">API Guidelines</a><br>
        <a class="text-white" href="">Grievance Guidelines</a>
      </div>
  
      <div class="col-2 py-3 px-5 text-white bg-secondary" style="font-size: 12px;">
        <p>Support</p> 
        <a class="text-white" href="">Frequently Asked Quetions |</a><br>
        <a class="text-white" href="">Certificate Corrections |</a>
       
      </div>
  
      <div class="col-3 py-3 px-5 text-white bg-secondary" style="font-size: 12px;">
        <p>Contact Us</p> 
        <p>Helpline: +91-11-23978046 (Toll Free-1075)</p><br>
        <p>Technical Helpline: 0120 4473222</p>
       
      </div>
       
    <div class="col-8 py-3 px-5 text-white bg-secondary " style="font-size: 12px;">
      <p>Copyright © 2021 CoWIN. All Rights Reserved</p>
    </div>
  
    <div class="col-2 py-3 px-5 text-white bg-secondary " style="font-size: 12px;">
      <a class="text-white" href="">Terms Of Services</a>
    </div>
  
    <div class="col-2 py-3 px-5 text-white bg-secondary " style="font-size: 12px;">
      <a class="text-white" href="">Privacy Policy</a>
    </div>
  
  </div>