<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../assets/new-banner12.png" class="d-block w-100 image  class1 " alt="Image1">
        </div>
        <div class="carousel-item ">
            <img src="../../../assets/new-banner-21.PNG" class="d-block w-100 image class1" alt="Image2">
        </div>
        <div class="carousel-item ">
            <img src="../../../assets/img/new-banner3.png" class="d-block w-100 image class1" alt="Image3">
            <div class="carousel-caption">
                <h3 class="myclass">CoWIN for the World</h3>
                <p class="myclass1">Launching CoWIN as an open source platform
                    for countries to orchestrate successful vaccination
                    with efficient monitoring with an aim of achieving universal vaccination</p>
                <a href="#" class="btn btn-success">Know More</a>
            </div>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<footer class="new">
    <div class="container ">
        <div class="foot-menu">
            <h4 class="plugin">
                <i class="fa fa-phone" aria-hidden="true"></i>
                Support for COVID-19
            </h4>
        </div>
        <div class="foot-menu">
            <h6 style="font-size: 14px;">Health Ministry</h6>
            <a href="tel:911123978046" style="font-size: 14px;">+91-11-23978046 or </a>
            <a href="tel:1075" style="font-size: 14px;">1075 </a>
        </div>
        <div class="foot-menu">
            <h6 style="font-size: 14px;">Child</h6>
            <a href="tel:1098" style="font-size: 14px;">1098 </a>
        </div>
        <div class="foot-menu">
            <h6 style="font-size: 14px;">Mental Health</h6>
            <a href="tel:08046110007" style="font-size: 14px;">08046110007 </a>
        </div>
        <div class="foot-menu">
            <h6 style="font-size: 14px;">Senior Citizens </h6>
            <a href="tel:14567" style="font-size: 14px;">14567 </a>
        </div>
        <div class="foot-menu">
            <h6 style="font-size: 14px;">NCW</h6>
            <a href="tel:7827170170" style="font-size: 14px;">7827170170 </a>
        </div>
    </div>
</footer>

<app-vaccination-count></app-vaccination-count>


















