.myclass{
    font-size: 42px;
    line-height: 55px;
    margin-top: -75px
    }
    
 .myclass1{
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    }

    .helplinesection{
      background-color: #fff;
    }

    .helplinesectionnew{
    background-color: #2a2f47;
    padding: 20px 30p;
    height: 87px;
}
.plugin{
   border-right: 1px solid #fff;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: -.4px;
    
}
.item{
   font-weight: 300;
    color: hsla(0,0%,100%,.8);
    margin-bottom: 6px;
}
.foot-menu{
  float: left;
  width:15%;
  text-align: center;
  
  padding-top: 30px;
    padding-bottom: 10px;
  color: #fff;
  margin-top: 2px;
  
}
.foot-menu a {
  color: #ffff;
  text-decoration: none;
}
.new{
  display: flex;
  background-color: #2a2f47;
    

}