
    
<div class="container-fluid">
  <div class="row">

      <h1 style="text-align: center;">Indai Is Running The Worlds Largest Vaccination Drive</h1>
      <div class="col-6">
      
          <img src="../../../assets/map.jpg" class="d-block w-100 image" alt="Image1">
          </div>
          <div class="col-6 py-5 px-5">
              <h4 style="text-align: center;font: size 10px;">vaccine deliverd</h4>
              <h4 style="text-align: center;font: size 20px;">1,11,175225  68Lakhs</h4><br><br>

              <h4 style="text-align: center;font: size 10px;">citizan fully vaccinated</h4>
              <h4 style="text-align: center;font: size 20px;">58.35 carore</h4><br><br>

              <h4 style="text-align: center;font: size 10px;">% of fully vaccinated</h4>
              <h4 style="text-align: center;font: size 20px;">50.48%</h4><br><br>
           <h4 style="text-align: center;">
              <button class="btn btn-primary" type="button">View Vaccination DashBoard</button></h4>
              </div>
              </div>
              </div>

 
   <app-our-partner></app-our-partner>