.yellowloginbutton{
    border: 1px
 solid #fff;
    color: #fff!important;
    padding: 5px 20px!important;
    text-decoration: none;
    border-radius: 30px
;
    font-weight: 500!important;
    line-height: 1.5!important;
    text-align: center;
    display: block;
    font-size: 16px;
    margin-right: 20px;
}
.nav-link{
    color: #ffff;
}
