<div class="row">
<div class="col-md-12">


<nav class="navbar navbar-expand-sm bg-dark navbar-info">
    <!-- <div class="container-fluid"> -->
      <a class="navbar-brand" href="#">
        <img src="../../assets/new-logo.svg" alt="Avatar Logo" > 
      </a>
    <!-- </div> -->
    <li class="nav-item dropdown m-4 text-decoration-none">
        <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown">Vaccination Services</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item " href="#">Register Members</a></li>
          <li><a class="dropdown-item" href="#">Search Vaccination Centers</a></li>
          <li><a class="dropdown-item" href="#">Book Vaccinaton slot</a></li>
          <li><a class="dropdown-item" href="#">Manage Appointment</a></li>
          <li><a class="dropdown-item" href="#">Download Certificate</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Platforms</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">CoWIN International</a></li>
          <li><a class="dropdown-item" href="#">Vaccinator</a></li>
          <li><a class="dropdown-item" href="#">Department Login</a></li>
          <li><a class="dropdown-item" href="#">Verify Certificate</a></li>
          <li><a class="dropdown-item" href="#">Vaccination Statistics</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">RESOURCES</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">How to get Vaccinated</a></li>
          <li><a class="dropdown-item" href="#">Dos and Dont's</a></li>
          <li><a class="dropdown-item" href="#">Overview</a></li>
          <li><a class="dropdown-item" href="#">API Guidelines</a></li>
          <li><a class="dropdown-item" href="#">Grievance Guidelines</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">SUPPORT</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Frequently Asked Questions</a></li>
          <li><a class="dropdown-item" href="#">Certificate Correction</a></li>
        </ul>
      </li>
      <li> <a class="yellowloginbutton" routerLink="register/regicomp">Register/SignIn</a></li>
  </nav>
</div>
</div>