<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="col">
        <h2>Search Your Nearest Vaccination Center</h2>
        <div class="center1">Get a preview list of the nearest centers and check availability of vaccination slots</div>
        <div class="text">
          <a href="#" class="center2">Login to book your slot </a>
        </div>
      </div>
    </div>
  </div>
</div>
<p-tabView>
  <p-tabPanel header="By District">
     
  </p-tabPanel>
  <p-tabPanel header=" By PIN">
    
  </p-tabPanel>
  <p-tabPanel header=" By PIN">
     
  </p-tabPanel>
</p-tabView>

<div class="row">
  <div class="col-4">
    <form>
      
      <select class="form-select" aria-label="Default select example" (change)="onseletstates($event)" name="states"[(ngModel)]="selectstate"> 
      <option *ngFor="let st of userstate" [ngValue]="st.state_id">{{st.state_name}}</option>
        
      </select>
    </form>
  </div>
<div class="col-4">
    <form>
     <select class="form-select" aria-label="Default select example">
      <option *ngFor="let dt of userDistrict" >  {{dt.district_name}}</option>
      </select>
</form>
 </div>
 <div class="col-4">
<button type="button" class="btn btn-primary">Search</button>
</div>
</div>