<div class="clearfix">
    <img src="../../../assets/new-callcenter-amico.svg" class="col-md-6 float-md-end mb-3 ms-md-3"style="height: 400px;;" alt="...">
    <div class="col-6 py-5 px-5">
        <h1 style="font-weight: bold;">Raise An Issue</h1>
        <h5> Raise an issue get solutions to your coWIN account and</h5>
        <h5> vaccination Certificate related issue instantly....</h5>
        <div class="center">
            <a class="text-VOILATe " href="">Certificate Corrections</a><br>
            <a class="text-VOILATE" href="">Add passports</a><br>
            <a class="text-VOILATE" href="">Report Known Members</a>
            <a class="text-VOILATE" href="">Download Certificates</a>
            <a class="text-VOILATE" href="">Transfer member to new member</a>
              </div>

        </div>
      </div>
      
        <app-steps-to-vaccination></app-steps-to-vaccination>
    
  

   



