
<nav class="navbar navbar-expand-sm bg-info navbar-info">
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <div>
            <img src="../../../assets/vaccine.svg">
        </div>
        <div>
            <h6>Total Vaccination Doses</h6>
            <h1></h1>
            <h3 class="newstyle">India marches beyond <span class="color">1 Billion Vaccine </span>doses</h3>
            <a href="#" class="style">View More</a>
        </div>
    </div>

    <div class="col-md-6">
        <div>
            <img src="../../../assets/syringe.png">
        </div>
        <div>
            <h6>Vaccination Done Today </h6>
            <h1></h1>
            <h3 class="newstyle">India sets world record of<span class="color"> 2.5 Cr+ Vaccinations </span>in a day</h3>
        </div>

    </div>
</div>
</nav>
<app-serch-vaccination-point></app-serch-vaccination-point>
<app-whatsnew></app-whatsnew>