.container{
    background: hsla(0,0%,100%,.8);
    border-radius: 10px;
    width: 60px;
    height: 60px;
    display: flex;
    margin-left: 40px;
    
}
    
.bg{
    background-color: rgba(235,153,110,.16);
    border-right: solid black;
    display: inline-flex;
}
.style{
    text-decoration: none;
    text-align: end;
}
.color{
    color:blue
}
.newstyle{
    font-weight: bold;
    font-size: 18px;
    letter-spacing: -.5px;
    color: #0e1229;
}
.center{
font-size: 36px;
color: #212121;
line-height: 40px;
margin-bottom: 15px;
margin-top: 50px;
font-weight: 700;
text-align: center;
}
.center1{
font-size: 18px;
font-weight: 400;
color: #5a5a75;
margin-bottom: 15px;
text-align: center;
}
.center2{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #4e67eb;
}
    
.text{
    text-align: center;
}