<br ><br><br>
<div class="container-fluid ">
    <div class="row text-center">
        <div class="col-md-3"></div>
        <div class="col-md-6  py-5 mx-5 ABC text-center AC">
        <h1><b>ArogySetu</b></h1>
        <h6 class="text-primary">Winnig Over COVID</h6>
        <h6 class="text-secondary">Ministry of Health & Family Welfare</h6><br>
        <h3 class="text-danger">Welcome!</h3>
        <h5 class="text-primary">Health Facility Managers</h5><br>
        
        <form [formGroup]="userform" (ngSubmit)="onSubmitForm()" class="form-center">
            <div class=" text-center">
                <label for="">Mobile Number</label><br>
                <input type="tel" name="MoNo" class="" formControlName="Mono" maxlength="10"
                required [ngClass]="{'is-invalid':isSubmitted && f.MoNo.errors}">
                <div *ngIf="isSubmitted && f.MoNo.errors" class="invalid-feedback">
                    <div *ngIf="f.MoNo.errors?.required">Please Enter Mobile Number</div>
                </div>
            </div>
            <div class="">
                <label for="">Password</label><br>
                <input type="password" name="pass" class="" formControlName="pass"
                required [ngClass]="{'is-invalid':isSubmitted && f.pass.errors}">
                <div *ngIf="isSubmitted && f.pass.errors" class="invalid-feedback">
                    <div *ngIf="f.pass.errors?.required">Please Enter Password Number</div>
                </div>
            </div><br>
            
            <button type="submit" class="btn btn-primary"  >LOGIN</button><br>
            <h6 class="text-secondary">or</h6>
            
        </form>
        <div class="text-center">
        <button type="submit"  class="btn btn-secondary"  (click)="getOTP()">Login Using OTP</button>
        </div>
    </div>
    <div class="col-md-3"></div>
    </div>
</div><br><br><br>


