<div class="container-fluid"> 
    <div class="row">
        <h3 style="font-weight: bold;text-align: center;" >Our Partners</h3>
        <div class="col-3 px-5 py-5">
          <img src="../../../assets/mygov-logo-sm.png">
            
            </div>
            
            <div class="col-3 px-5 py-5 ">
                <img src="../../../assets/digilocker.png">
</div>
        <div class="col-3 px-5 py-5">
            <img src="../../../assets/newumang-logo.png">
</div>
       <div class="col-3 px-5 py-5">
        <img src="../../../assets/arogyasetu.png">
           </div>
                
            </div>
            
            </div>
